/*
*************
    RESET   
+************
*/

:root {
    --clr--primary: hsl(219, 26%, 11%);
    --clr--secondary: hsl(0, 0%, 0%);
    --clr--tertiary: hsla(0, 0%, 16%, 0.6);
    --clr--text: hsl(0, 0%, 100%);
    --clr--subtext: hsl(223, 3%, 51%);
    --clr--icons: hsl(0, 0%, 82%);
    --clr--accent: hsl(141, 75%, 51%);

    --ff--base: 'Merriweather', serif;

    --fs-200: clamp(0.94rem, calc(0.90rem + 0.16vw), 1.03rem);
    --fs-300: clamp(1.13rem, calc(1.03rem + 0.44vw), 1.38rem);
    --fs-400: clamp(1.35rem, calc(1.17rem + 0.85vw), 1.83rem);
    --fs-500: clamp(1.62rem, calc(1.32rem + 1.45vw), 2.44rem);
    --fs-600: clamp(1.94rem, calc(1.47rem + 2.31vw), 3.26rem);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: var(--ff--base);
    font-size: var(--fs--200);
    background-color: var(--clr--primary);
    color: var(--clr--text);
}

h1 {
    font-size: var(--fs-500);
}

h2 {

    font-size: var(--fs-400);
}

h3 {
    font-size: var(--fs-300);
}

img {
    max-width: 200px;
    display: block;
}

ul {

    list-style-type: none;
}

ul a {

    color: var(--clr--subtext);
    text-decoration: none;
    display: inline;
}

/* 
***************
    GENERIC    
***************
*/

#wrapper {

    margin-inline: auto;
    height: calc(100vh - 100px);
    display: flex;
    overflow: auto;
}


#header {
    background-color: var(--clr--tertiary);
    color: var(--clr--text);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 0;
    height: 100px;
    width: calc(100% - 250px);
}


#sidebar {
    height: calc(100vh - 100px);
    width: 250px;
    background-color: var(--clr--secondary);
    color: var(--clr--subtext);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1rem;
}


#content {

    width: calc(100% - 250px);
    height: 100%;
    padding-top: 105px;
    padding-left: 1rem;
    overflow: auto;
}



#footer {
    height: 100px;
    color: var(--clr--text);
    background-color: var(--clr--tertiary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/* 
***************
    SPECIFIC    
***************
*/

/* 
HEADER
*/

.header__button {

    color: var(--clr--text);
    border: 1px solid var(--clr--text);
    border-radius: 30px;
    background-color: transparent;
    text-transform: uppercase;
    margin-right: 1rem;
    padding: 1rem 2rem;
    letter-spacing: 2px;
}


/*
    SIDEBAR
*/


.sidebar__logo {
    width: 100px;
    cursor: pointer;
}

.sidebar__icons {

    display: flex;
    flex-direction: column;
}

.download__button {

    border: none;
    background-color: transparent;
    color: var(--clr--subtext);
    text-align: left;
    font-weight: bolder;
    font-size: 1rem;
}

.button__icon {

    padding-right: .5rem;
}

.account__info {

    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .5rem 0;
    border-top: 1px solid var(--clr--subtext);
    width: 90%;
}

/* 
**********************
    PLAYLIST ITEMS    
**********************
*/


.playlist__items {

    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--clr--subtext);
    cursor: pointer;
    overflow: auto;
}

.playlist__title {

    text-transform: uppercase;
    color: var(--clr--text);
    margin-bottom: 1rem;
}


.playlist__add {
    color: var(--clr--subtext);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.playlist__add .fa-solid {

    font-size: 2rem;
    margin-right: .6rem;
}

.playlist__name>* {

    margin: 1rem 0;

}

/* 
    MAIN MENU
*/

.main__menu__items {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.main__menu__item {

    padding: .5rem 2rem;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bolder;
}


.album__row {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
    text-align: center;
    color: var(--clr--text);
    padding: .5rem 0;
}

.album__card {

    cursor: pointer;
    max-width: 200px;
}

.suggestion__subtitle {

    color: var(--clr--subtext);
    padding: 1rem 0;

}

.user__suggestions__col {

    display: flex;
    gap: 1.5rem;
}

.created__img {

    cursor: pointer;
}

figcaption {

    padding: 1rem 0;
    text-align: center;

}

.subtext {

    color: var(--clr--subtext);
    text-align: center;
    padding: .5rem 0;

}


.most__popular__col {

    display: flex;
    gap: 1.5rem;
    padding: 1rem 0;
}


.most__popular__img {

    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
}


/* 
****************
    FOOTER      
****************
*/


.current__song {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    cursor: pointer;
}

.current__song__img>img {

    max-width: 75px;
}

.song__player {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    cursor: pointer;
}


.song__player__icons {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 50%;
    padding-bottom: 1rem;

}

.song__player__bar {

    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.progress__bar--container {

    flex-grow: 1;
}

.progress__bar__total__progress {

    display: block;
    width: 350px;
    height: 5px;
    background-color: var(--clr--subtext);
    border-radius: 10px;

}

.live__progress__bar {

    display: block;
    width: 30%;
    height: 5px;
    background-color: var(--clr--text);
    border-radius: 10px;
    position: relative;
}

.volume__controller {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    cursor: pointer;
}

.volume__icons {

    padding: 0 1rem;
}

.fa-desktop {

    padding-inline: 1rem;
}

.progress__bar__total__progress.small {

    width: 100px;
}



/* 
*********************

        HOVER        

*********************
*/



.header__button:hover {

    background-color: var(--clr--text);
    color: hsl(141, 75%, 51%);
    cursor: pointer;
}


.sidebar__items:hover {

    color: var(--clr--accent);

}


.download__button:hover,
.button__icon:hover {

    color: var(--clr--accent);
}


.account__info:hover {

    color: var(--clr--text);
}


.playlist__name>*:hover,
.playlist__add:hover {

    color: var(--clr--accent);
}


.main__menu__item:hover {

    border-bottom: 1px solid var(--clr--accent);
}


.album__card:hover {

    opacity: .5;
}


.created__img:hover {

    opacity: .5;
}


.most__popular__img:hover {

    opacity: .5;
}

.live__progress__bar:hover {

    background-color: var(--clr--accent);
}


.live__progress__bar:hover>.progress__circle {

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    width: 15px;
    height: 15px;
    background-color: var(--clr--text);
    border-radius: 10px;

    display: block;
}