/*
*************
    RESET   
+************
*/

:root {
    --clr--primary: hsl(219, 26%, 11%);
    --clr--secondary: hsl(0, 0%, 0%);
    --clr--tertiary: hsl(0, 0%, 16%);
    --clr--text: hsl(0, 0%, 100%);
    --clr--subtext: hsl(223, 3%, 51%);
    --clr--icons: hsl(0, 0%, 82%);
    --clr--accent: hsl(84, 100%, 59%);

    --ff--base: 'Merriweather', serif;
    
    --fs-200: clamp(0.94rem, calc(0.90rem + 0.16vw), 1.03rem);
    --fs-300: clamp(1.13rem, calc(1.03rem + 0.44vw), 1.38rem);
    --fs-400: clamp(1.35rem, calc(1.17rem + 0.85vw), 1.83rem);
    --fs-500: clamp(1.62rem, calc(1.32rem + 1.45vw), 2.44rem);
    --fs-600: clamp(1.94rem, calc(1.47rem + 2.31vw), 3.26rem);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: var(--ff--base);
    font-size: var(--fs--200);
    background-color: var(--clr--primary);
    color: var(--clr--text);
}

h1 {
    font-size: var(--fs-500);
}

h2 {

    font-size: var(--fs-400);
}

h3 {
    font-size: var(--fs-300);
}

img {
    max-width: 100%;
    display: block;
}




/* 
***************
    GENERIC    
***************
*/

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
}


.debug {

    height: 1000px;
    width: 1000px;
    border: 1px solid red;
    margin: auto;
}